<style type="text/css">
		#forgotPwdMainDiv {
			padding : 5px;
			border:2px solid;
		}
		div.span {
		display: inline-block;
		width: 80px;
	    }

	    #btnEmail {
		width: 150px;
		color: blue;
	    }
	    /*applies to all div elements inside the div with class forgotPwdDiv*/
	    div.forgotPwdDiv div {

	    	height : 30px;
	    }
</style>