<html>
	<head>
	  <title>Forgot Password</title>
	  <style type="text/css">
		span {
		display: inline-block;
		width: 80px;
	    }

	    #emailBtn,#forgotPwdBtn {
		width: 150px;
	    }
	    div {

	    	height : 30px;
	    }
	</style>
	</head>
	<body>
		<div><strong>Forgot Password</strong></div>
		<div>
			<span>Email</span>
			<input type="email">
		</div>
		<div>
			<span>LoginId</span>
			<input type="text">
		</div>
		<div>
			<input type="button" id="emailBtn" value="Send Email" ng-click="sendEmail()">
		</div>
	</body>
</html>