<html>
<head>
	<title>Login</title>
	<style type="text/css">
	span {
		display: inline-block;
		width: 80px;
	}
	#loginBtn {
		width: 80px;
	}
	div.loginMainDiv>div {
	    height : 30px;
	    }

	.loginMainDiv {

		padding : 5px;
	}
	.loginForgotPwd:hover {

		text-decoration: underline;
		cursor: pointer;

	}

	.loginForgotPwd {

		color: blue;
	}
	</style>
</head>
<body>
	<div class="loginMainDiv">
		<div><strong>Login Details</strong></div>
		<div>
			<span>Login</span>
			<input type="text">
		</div>
		<div>
			<span>Password</span>
			<input type="password">
		</div>
		<div>
			<input type="button" id="loginBtn" value="Login" ng-click="loadProducts()">
			<input type="button" id="RegisterBtn" value="Register" ng-click= "loadRegister()" >
		</div>
		<div class="loginForgotPwd" ng-click="loadfgtPassword()">
			Forgot Password
		</div>
	</div>
</body>
</html>