<html>
<head>
	<title></title>
	<style type="text/css">
	span {

		display: inline-block;
		width:100px;
	}
	.registrationContainer {

		padding : 10px;
		font-size: large;
	}
	#btnRegister {

		height: 30px;
		width: 100px;
		font-size: large;
	}

	</style>
</head>
<body>
	<div class="registrationContainer">
		<h1>Welcome to Registration Page</h1>
		<div>
			<span>User Name </span>
			<input type="text">
		</div>
		<div>
			<span>Password </span>
			<input type="password">
		</div>
		<div>
			<span>Email </span>
			<input type="email">
		</div>
		<div>
			<span>Date of Birth </span>
			<input type="date">
		</div>
		<div>
			<span>Phone Number </span>
			<input type="tel">
		</div>
		<div>
			<span>Address </span>
			<textarea text="multiline"></textarea>
		</div>
		<div>
			<input type="button" id="btnRegister" value="Register">
		</div>
	</div>
</body>
</html>

